@charset "utf-8";
/* CSS Document */

.background {
    background-color: #000000;
    background-repeat: no-repeat;
    border: thin solid #FEFCFC;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
    font-size: large;
}
.picture {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    border: thick double #F9060A;
}

#footer {
    border-bottom: thick solid #F7F7F7;
}
.text {
    color: #F5F5F5;
    font-size: x-large;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.broder {
    border-top: 100% solid #F90409;
}
